:root{
    --red-color: #E0715A;
    --green-color: #78a174;
    --black-color: #363635;
    --blue-color: #9AB1EA;
    --dark-red-color: #da5a40;
    --dark-green-color: #628f5e;
    --dark-black-color: #2e2e25;
    --dark-blue-color: #7e9ce8;
}

.red{
    background-color: var(--red-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green{
    background-color: var(--green-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue{
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redDark{
    background-color: var(--dark-red-color);
}

.greenDark{
    background-color: var(--dark-green-color);
}

.blackDark{
    background-color: var(--dark-black-color);
}

.blueDark{
    background-color: var(--dark-blue-color);
}

.rateCard{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.nameRateCard {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    align-self: center;
    padding: 0.7em;
}

.costRateCard{
    font-size: xxx-large;
    text-align: center;
    color: whitesmoke;
    position: relative;
}

.speedRateCard {
    align-self: center;
    padding: 0.5em;
    color: #383838;
}

.info {
    text-align: center;
    font-size:medium;
    background-color: #e1e1e1;
    color: #383838;
}
.selected{
    border: 3px solid orchid;
}

.block {
    height: 3em;
    width: 3em;
}

.costBlock {
    position: absolute;
    font-size: large;
    top: -9px;
    left: -27px;
}

.monthBlock {
    position: absolute;
    font-size: large;
    display: contents;
}